<div class="text"><h1>Nombre: @ViewBag.PaisBuscado.Nombre</h1></div>
<br>
<div class="text"><h1>Cantidad de poblacion: @ViewBag.PaisBuscado.Poblacion</h1> </div>
<br>
<div class="text"><h1>Fecha de independencia: @ViewBag.PaisBuscado.FechaIndependencia</h1> </div>
<br>
<div class="text"><h1>Atractivo turistico:@ViewBag.PaisBuscado.AtractivosTuristicos</h1> </div>
<br>
<a class="titulo" href='@Url.Action("Index")'>Volver</a>